[submodule "outletauto"]
	path = static/outletauto
	url = https://github.com/shamemask/outletauto.git
	branch = Django
[submodule "authentication"]
	path = authentication
	url = https://github.com/shamemask/dj-ms-authentication.git
	branch = auth
[submodule "main_api"]
	path = main_api
	url = https://github.com/shamemask/outletavto_api_django.git
[submodule "abcp_parser"]
	path = abcp_parser
	url = https://github.com/shamemask/abcp_parser.git
