.container {
    position: relative;
    max-width: 100%;
    color: white;
}

.container img {
    display: block;
    width: 100%;
    height: auto;
}
.container ul {
    position: absolute;
    z-index: 1;
}

a:link {
    color: white;
}
